html{
    background-color:#0000003f;
    height: 100%;
    background-image: linear-gradient(#FC5E55,#252475);
    background-attachment: fixed;
}
main{
    width: 1024px;
    margin-top: 5rem;
    margin-bottom: 30px;

    min-height: 300px;
    margin-left: 22rem;
    margin-right: auto; 
    
}
.container{
    width: 1024px;

    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
body{
    /* background-position: top center; */
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 1.125rem;
    margin: 0em;
  }

  header{
     /* display: flex;  */
    background-image: linear-gradient(#2048ce,#060f5ce0);
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 6px;
    margin-left: -160px;
    margin-right: -160px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322) ;
    margin-top: 2px;

}
  

.navbutton{
    border: 2px solid rgb(255, 251, 251);
    color: white;
    font-family: 'playfair Display',serif;
    padding: 10px 10px;
    display:inline-block;
    text-decoration: none ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322) ;
    overflow: hidden;
  


}
.navbutton a{
    text-decoration: none;
    color:white;
    text-align: center;
    
}
.topright{
    float: right;
    text-align: right;
    margin-right: 20px;
}
.navbutton:hover{
    background-color:rgba(0, 0, 0, 0.822);
    transition-duration: 1s;
}
.logo{
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: -60px;
    margin-top: -20px;
    padding-top: 15px;
}
.inp{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 80px;

}
.mybutton{
    background-color: white;
    color:black;
    font-family: 'playfair Display',serif;
    text-decoration: none;
    padding: 10px;
    
    display: inline-block; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322) ;
    margin-top: 20px;
    
}
a.mybutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-left: 11px;
    border-radius: 20px;
}
.mybutton:hover{
    background-color:rgba(26, 143, 26, 0.822);
    transition-duration: 1s;

}
